<% if flash[:errors] %>
  <% flash[:errors].each do |error|%>
    <p style="background:white;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @drink do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :hot %>
  <%= f.check_box :hot %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit %>
<% end %>
