<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class='nav'>
        <%# <span><h1>Movie Magic</h1></span> %>
        <img class='logo' src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRH-7phajy89hos0BNOAAqq2rqXsvg2S4TMeRQAOVEme9AmE6Z7" alt="cc">
      </div>

    <%= yield %>
  </body>
</html>
