<h1>Doctor Show Page</h1>

<h3><%= @doctor.name %></h3>
<p>Specialization: <%= @doctor.specialization %></p>
<p>Year of Experience: <%= @doctor.experience %></p>

<img class="show-img" src="<%= @doctor.img_url %>" alt="<%= @doctor.name %>">